.App {
  text-align: center;
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

button {
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}


@media print {
  button {
    display: none;
  }
  .print-agreement {
    margin: 40px;
  }
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  } 
  textarea {
    width: 100%;
  }
}
